jaxb-impl/src/test/resources/test.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.pellcorp/service/PersonService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PersonService" targetNamespace="http://com.pellcorp/service/PersonService">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://com.pellcorp/service/PersonService" elementFormDefault="unqualified" targetNamespace="http://com.pellcorp/service/PersonService" version="1.0">
<xs:annotation>
    <xs:appinfo>schema-level appinfo 1234</xs:appinfo>
    <xs:documentation>schema-level doc 123</xs:documentation>
    <xs:documentation>schema-level doc 234</xs:documentation>
  </xs:annotation>
  <xs:element name="foo" nillable="true" type="xs:anyType"/>
<xs:element name="fooResponse" type="tns:fooResponse"/>
<xs:element name="save" type="tns:save"/>
<xs:element name="saveApplicant" type="tns:saveApplicant"/>
<xs:element name="saveApplicantResponse" type="tns:saveApplicantResponse"/>
<xs:element name="saveResponse" type="tns:saveResponse"/>
<xs:complexType name="foo">
    <xs:sequence>
      <xs:element minOccurs="0" name="TestRequest" type="tns:TestRequest"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="TestRequest">
    <xs:annotation id="id123">
      <xs:appinfo source="src 1">appinfo 1</xs:appinfo>
      <xs:documentation source="src 1" xml:lang="en">doc 1</xs:documentation>
      <xs:documentation>doc 2</xs:documentation>
      <xs:documentation>doc 3</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="10" minOccurs="2" name="bar">
        <xs:annotation>
          <xs:documentation>
            <b>string bar</b>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="bar1" type="xs:string"/>
      <xs:element minOccurs="0" name="bar2">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="value1">
        <xs:simpleType>
          <xs:restriction base="xs:anyURI">
            <xs:pattern value="https?://.+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="value2" type="xs:anyURI"/>
      <xs:element minOccurs="0" name="value3" type="tns:TimeZoneOffset"/>
      <xs:element minOccurs="0" name="country" type="tns:Country"/>
      <xs:element name="date1">
        <xs:simpleType>
          <xs:restriction base="xs:dateTime">
            <xs:minInclusive value="2012-12-24T12:00:00Z"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="buddy" type="tns:Buddy"/>
    </xs:sequence>
    <xs:attribute name="type" type="tns:ChartType"/>
    <xs:attribute name="foo">
      <xs:annotation>
        <xs:appinfo source="src 1">appinfo 1</xs:appinfo>
        <xs:documentation>
          <b>string foo</b>
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[a-z]+"/>
          <xs:length value="100"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="foo1">
      <xs:annotation>
        <xs:documentation xml:lang="en">this is the first line</xs:documentation>
        <xs:documentation xml:lang="en">this is the second line</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
<xs:simpleType name="TimeZoneOffset">
    <xs:restriction base="xs:integer">
      <xs:maxExclusive value="840"/>
      <xs:minInclusive value="-840"/>
    </xs:restriction>
  </xs:simpleType>
<xs:complexType name="Buddy">
    <xs:annotation>
      <xs:documentation>A Buddy.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of buddy.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="fooResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="saveApplicant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Applicant" type="tns:Applicant"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="Applicant">
    <xs:sequence>
      <xs:element name="age" type="tns:Age"/>
      <xs:element maxOccurs="2" minOccurs="1" name="firstName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="gender" type="tns:gender"/>
      <xs:element maxOccurs="3" minOccurs="1" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:simpleType name="Age">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="5"/>
      <xs:maxInclusive value="120"/>
    </xs:restriction>
  </xs:simpleType>
<xs:complexType name="saveApplicantResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="save">
    <xs:sequence>
      <xs:element minOccurs="0" name="Person" type="tns:Person"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="Person">
    <xs:annotation attr1="value1" attr2="value2">
      <xs:appinfo>
        <ns1:myInfo xmlns:ns1="ns1" attr1="foo">schema-level appinfo 1234<ns2:foo xmlns:ns2="ns2">schema-level appinfo 1234</ns2:foo>
        </ns1:myInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="2" minOccurs="1" name="firstName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="3" minOccurs="1" name="lastName" type="xs:string"/>
      <xs:element name="gender" type="tns:gender"/>
      <xs:element name="age" type="tns:Age"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="saveResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:simpleType name="ChartType">
    <xs:annotation>
      <xs:documentation>Choose Chart Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="line">
        <xs:annotation>
          <xs:documentation>Line Graph</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="bar">
        <xs:annotation>
          <xs:documentation>Bar Graph</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pie">
        <xs:annotation>
          <xs:documentation>Pie Graph</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
<xs:simpleType name="Country">
    <xs:annotation>
      <xs:documentation>The 3-letter ISO 3166-1 codes for countries</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AUS">
        <xs:annotation>
          <xs:documentation>Australia</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AUT">
        <xs:annotation>
          <xs:documentation>Austria</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
<xs:simpleType name="gender">
    <xs:annotation>
      <xs:documentation>Gender Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:documentation>Female</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:documentation>Male</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="O">
        <xs:annotation>
          <xs:documentation>Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="save">
    <wsdl:part element="tns:save" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveApplicant">
    <wsdl:part element="tns:saveApplicant" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveResponse">
    <wsdl:part element="tns:saveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveApplicantResponse">
    <wsdl:part element="tns:saveApplicantResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fooResponse">
    <wsdl:part element="tns:fooResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="foo">
    <wsdl:part element="tns:foo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonService">
    <wsdl:operation name="foo">
      <wsdl:input message="tns:foo" name="foo">
    </wsdl:input>
      <wsdl:output message="tns:fooResponse" name="fooResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveApplicant">
      <wsdl:input message="tns:saveApplicant" name="saveApplicant">
    </wsdl:input>
      <wsdl:output message="tns:saveApplicantResponse" name="saveApplicantResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <wsdl:input message="tns:save" name="save">
    </wsdl:input>
      <wsdl:output message="tns:saveResponse" name="saveResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonServiceSoapBinding" type="tns:PersonService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="foo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="foo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fooResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveApplicant">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="saveApplicant">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveApplicantResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="save">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port binding="tns:PersonServiceSoapBinding" name="PersonServiceImplPort">
      <soap:address location="http://localhost:9002/PersonService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>